<body>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5> Announcements</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5></h5>
                                            <hr>
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">score</th>
                                                    <th scope="col">Actions</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>mdo</td>
                                                    <td><button type="button" class="btn btn-square btn-secondary">Update</button><button type="button" class="btn btn-square btn-danger">Delete</button></td>
                                                    
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>fat</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">3</th>
                                                    <td colspan="2">Larry the Bird</td>
                                                    <td>twitter</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <hr>
                                              <button id="addButton" type="button" class="btn btn-primary" title="" data-toggle="tooltip" data-original-title="btn btn-primary" routerLink="addAnn">Add</button>
                                              


                                        </div>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

