<body>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5> Update Announcement</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5></h5>
                                            <hr>
                                            <form id="addForm" >
                                                <div class="form-group">
                                                    <label for="date">Date:</label>
                                                    <input type="date" class="form-control" id="date">
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">Description:</label>
                                                    <input type="text" class="form-control" id="description">
                                                </div>
                                                <div class="form-group">
                                                    <label for="score">Score:</label>
                                                    <input type="number" class="form-control" id="score">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>